body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
nav a{
text-decoration: none;
color: blue;
}
header {
    background-color: aqua;
    color: darkblue;
    padding: 1rem;
}
nav a:hover{
    color: cadetblue;
}